/* custom bootstrap */
.input-group-addon{
    width: auto;
}
.alert-dismissable .close, .alert-dismissible .close {
     top: 0px;
     right: 0px;
}
.table a{
    text-decoration: none;
}
.table thead th{
    font-weight: bold;
}
.kv-grid-table{overflow: hidden}
.css__table .pull-right{
    padding: 20px 30px;
}
.css_page-main{
    padding-top: 0;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border-bottom: 0;
}
.modal-dialog{
    margin-top: 120px;
}
.page-main .page-content{
    padding-top: 0px;
}
.page-content .page-header{
    padding-top: 0px;
}
.input-group-btn{
    width: 50px;
}
/* end custom bootstrap */
.SumoSelect{
    width: 100%;
}
/* form */
.form-group label.required{
    position: relative;
}
.form-group label.required:after{
    position: absolute;
    content: "*";
    right: -12px;
    top: 0;
    color: red;

}
/* end form */
.example{position:relative;padding:10px;border:1px solid #e4eaec}.example .scrollable-horizontal .scrollable-content{width:1400px}
.css__init-sort-able .dragged{
    position: absolute;
    z-index: 2000;
}
.css__init-sort-able .dragged .dd-handle{
    top:5px;
    background: #f3f7f9;
}
.css__init-sort-able .dragged .dd-content{
    background: #f3f7f9;
}
.css__init-sort-able{
    padding-top: 20px;
    padding-bottom: 20px;
}
.css__init-sort-able a .dd-content,.css__init-sort-able a:hover{
    color:#76838f;
    text-decoration: none;
}
.menu-form .example{
    padding: 0 10px;
    margin: 0;
}
.menu-form .example .field-menu-data{
    display: none;
}
.menu-form .wrap-button{
    margin-top: 20px;
    margin-left: 15px;
}
.kcf-input-group .kcf-thumbs img{
    width: 100px;
}